@charset "UTF-8";
body {
  font-size: 100%;
  display: flex;
  padding-right: 40px;
}

.section__title {
  margin-top: 96px;
}
.section__title--jp {
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}
.section__title--eg {
  font-size: 5em;
  margin-bottom: 24px;
  font-family: "Arizonia", cursive;
  text-align: center;
}

.aside {
  width: 20%;
}
.aside__img a img {
  width: 300px;
  height: 200px;
}
.aside__nav {
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.aside__nav--info {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 24px;
  padding-bottom: 24px;
}
.aside__nav--info p {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 8px;
  position: relative;
  transition: all 0.3s ease;
}
.aside__nav--info p::before, .aside__nav--info p::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: black;
}
.aside__nav--info p::before {
  top: 50%;
  right: 5px;
  transform: rotate(0deg);
}
.aside__nav--info p::after {
  top: 50%;
  right: 5px;
  transform: rotate(90deg);
}
.aside__nav--info p.close::before {
  transform: rotate(45deg);
}
.aside__nav--info p.close::after {
  transform: rotate(-45deg);
}
.aside__nav--info li {
  list-style: none;
  margin-bottom: 16px;
}
.aside__nav--info li a {
  text-decoration: none;
  font-size: 1.1em;
}
.aside__nav--menu {
  border-bottom: 2px solid black;
  padding-top: 24px;
  padding-bottom: 24px;
}
.aside__nav--menu p {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 8px;
  position: relative;
  transition: all 0.3s ease;
}
.aside__nav--menu p::before, .aside__nav--menu p::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: black;
}
.aside__nav--menu p::before {
  top: 50%;
  right: 5px;
  transform: rotate(0deg);
}
.aside__nav--menu p::after {
  top: 50%;
  right: 5px;
  transform: rotate(90deg);
}
.aside__nav--menu p.close::before {
  transform: rotate(45deg);
}
.aside__nav--menu p.close::after {
  transform: rotate(-45deg);
}
.aside__nav--menu li {
  list-style: none;
  margin-bottom: 16px;
  display: none;
}
.aside__nav--menu li a {
  text-decoration: none;
  font-size: 1.1em;
}
.aside__nav--news {
  border-bottom: 2px solid black;
  padding-top: 24px;
  padding-bottom: 24px;
}
.aside__nav--news li {
  list-style: none;
}
.aside__nav--news li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3em;
}
.aside__nav--instagram {
  border-bottom: 2px solid black;
  padding-top: 24px;
  padding-bottom: 24px;
}
.aside__nav--instagram li {
  list-style: none;
  background-image: url("img/インスタグラムのシンプルなロゴのアイコン1.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.aside__nav--instagram li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3em;
  margin-left: 30px;
}
.aside__nav--contact {
  border-bottom: 2px solid black;
  padding-top: 24px;
  padding-bottom: 24px;
}
.aside__nav--contact li {
  list-style: none;
  background-image: url(".../img/mail-icon.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.aside__nav--contact li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3em;
  margin-left: 30px;
}

.main {
  width: 80%;
}
.main .hero__visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main .hero__visual img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .hero__img img {
  top: 60%;
  right: 23%;
  width: 600px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}
.main .contact {
  margin-top: 72px;
  margin-bottom: 96px;
}
.main .contact__text {
  display: flex;
}
.main .contact__text--left {
  width: 600px;
}
.main .contact__text--left p {
  font-size: 1.2em;
}
.main .contact__text--right {
  margin-left: 100px;
  text-align: center;
}
.main .contact__text--right .text--01 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 24px;
}
.main .contact__text--right .text--02 {
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 0.4em;
}
.main .contact__text--right .text--03 {
  font-size: 1.1em;
  margin-top: 8px;
}
.main .contact__number {
  display: flex;
  gap: 80px;
  margin-top: 36px;
  margin-bottom: 56px;
}
.main .contact__number--01 {
  border: 2px solid black;
  padding: 4px 64px;
  position: relative;
  background-color: gray;
  color: white;
}
.main .contact__number--01::after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 51%;
  left: 101%;
}
.main .contact__number--01 .n01 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 8px;
}
.main .contact__number--01 .text {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}
.main .contact__number--02 {
  border: 2px solid black;
  padding: 4px 64px;
}
.main .contact__number--02 .n02 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 8px;
}
.main .contact__number--02 .text {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}
.main .contact .contact__inner {
  max-width: 800px;
  margin: 0 auto;
}
.main .contact .contact__inner .contact__form .contact__item {
  margin-bottom: 30px;
}
.main .contact .contact__inner .contact__form .contact__item label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 0.9rem;
}
.main .contact .contact__inner .contact__form .contact__item label span {
  color: #d9534f;
  font-size: 0.7rem;
  margin-left: 10px;
  vertical-align: middle;
}
.main .contact .contact__inner .contact__form .contact__item input,
.main .contact .contact__inner .contact__form .contact__item select,
.main .contact .contact__inner .contact__form .contact__item textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  font-size: 1rem;
}
.main .contact .contact__inner #reservation-fields {
  background-color: #fff9f0;
  padding: 20px;
  border-left: 4px solid #e67e22;
  margin-bottom: 30px;
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main .contact__btn {
  text-align: center;
  margin-top: 50px;
}
.main .contact__btn button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding: 15px 25px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.main .contact__btn button img {
  width: 20px;
}
.main .contact__btn button:hover {
  background-color: #000;
  color: #fff;
}
.main .footer {
  display: flex;
  margin-top: 96px;
  margin-bottom: 96px;
}
.main .footer__company img {
  width: 300px;
  aspect-ratio: 1/1;
}
.main .footer__company--detail .address span {
  font-size: 1.3em;
  font-weight: 500;
  margin-right: 4px;
}
.main .footer__company--detail .address {
  margin-bottom: 12px;
  font-size: 1.1em;
}
.main .footer__company--detail .time span {
  font-size: 1.3em;
  font-weight: 500;
  margin-right: 4px;
}
.main .footer__company--detail .time {
  margin-bottom: 12px;
  font-size: 1.1em;
}
.main .footer__company--detail .holiday span {
  font-size: 1.3em;
  font-weight: 500;
  margin-right: 4px;
}
.main .footer__company--detail .holiday {
  margin-bottom: 12px;
  font-size: 1.1em;
}
.main .footer__nav {
  margin-top: 50px;
  margin-left: 150px;
}
.main .footer__nav--info {
  margin-bottom: 24px;
}
.main .footer__nav--info p {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 8px;
}
.main .footer__nav--info li {
  margin-bottom: 4px;
}
.main .footer__nav--info li a {
  font-size: 1.1em;
  font-weight: 400;
}
.main .footer__nav--menu {
  margin-bottom: 24px;
}
.main .footer__nav--menu p {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 8px;
}
.main .footer__nav--menu li {
  margin-bottom: 4px;
}
.main .footer__nav--menu li a {
  font-size: 1.1em;
  font-weight: 400;
}
.main .footer__nav--news {
  margin-bottom: 24px;
}
.main .footer__nav--news li a {
  font-size: 1.1em;
  font-weight: 400;
}
.main .footer__nav--instagram {
  margin-bottom: 24px;
}
.main .footer__nav--instagram li {
  background-image: url("../img/インスタグラムのシンプルなロゴのアイコン1.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.main .footer__nav--instagram li a {
  font-size: 1.1em;
  font-weight: 400;
  margin-left: 24px;
}
.main .footer__nav--contact {
  margin-bottom: 24px;
}
.main .footer__nav--contact li {
  background-image: url("../img/メールの無料アイコンその8(1).png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.main .footer__nav--contact li a {
  font-size: 1.1em;
  font-weight: 400;
  margin-left: 24px;
}

@media screen and (max-width: 768px) {
  body {
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    margin: 0 auto;
  }
  .hamburger {
    display: block;
    width: 72px;
    aspect-ratio: 1;
    border: none;
    z-index: 10000;
    position: absolute;
    right: 10px;
    margin: 8px;
    padding: 8px;
    background-color: whitesmoke;
    opacity: 0.7;
    border-radius: 10px;
  }
  .hamburger:hover {
    background-color: rgb(190, 190, 190);
  }
  .hamburger span {
    display: block;
    width: 70%;
    height: 3px;
    border-radius: 5px;
    background-color: #000;
    position: absolute;
    top: 40%;
    transition: all 0.3s;
    transform-origin: center;
  }
  .hamburger span:nth-child(1) {
    transform: translateY(-13px);
  }
  .hamburger span:nth-child(2) {
    transform: translateY(0px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(13px);
  }
  .hamburger__text {
    position: absolute;
    top: 48px;
    left: 12px;
    font-weight: 500;
  }
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .aside {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #000;
    padding-top: 80px;
    transition: 0.3s;
  }
  .aside.active {
    right: 0;
  }
  .main {
    margin: 0 auto;
    width: 100%;
  }
  .main .section__title {
    text-align: center;
  }
  .main .hero__visual img {
    max-width: 100%;
  }
  .main .contact__text {
    flex-direction: column;
  }
  .main .contact__text--left {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .main .contact__text--left p {
    text-align: center;
  }
  .main .contact__text--right {
    margin: 36px auto;
    justify-content: center;
    align-items: center;
  }
  .main .contact__text--right p {
    text-align: center;
  }
  .main .contact__number {
    margin: 56px auto;
    justify-content: center;
    align-items: center;
  }
  .main .footer {
    flex-direction: column;
  }
  .main .footer__company {
    text-align: center;
  }
  .main .footer__nav ul {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=contact.css.map */