body {
    font-size: 100%;
    display: flex;
}

.aside {
    width: 20%;

    &__img {
        a {
            img {
                width: 300px;
                height: 200px;
            }
        }
    }

    &__nav {
        margin-top: 40px;
        padding-left: 40px;
        padding-right: 40px;

        &--info {
            // margin-bottom: 40px;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            padding-top: 24px;
            padding-bottom: 24px;

            p {
                font-weight: 500;
                font-size: 1.3em;
                margin-bottom: 8px;
                position: relative;
                transition: all .3s ease;

                &::before,
                &::after {
                    position: absolute;
                    content: "";
                    width: 15px;
                    height: 2px;
                    background-color: black;
                }

                &::before {
                    top: 50%;
                    right: 5px;
                    transform: rotate(0deg);
                }

                &::after {
                    top: 50%;
                    right: 5px;
                    transform: rotate(90deg);
                }

                &.close::before {
                    transform: rotate(45deg);
                }

                &.close::after {
                    transform: rotate(-45deg);
                }
            }

            li {
                list-style: none;
                margin-bottom: 16px;

                a {
                    text-decoration: none;
                    font-size: 1.1em;
                }
            }
        }

        &--menu {
            // margin-bottom: 40px;
            border-bottom: 2px solid black;
            padding-top: 24px;
            padding-bottom: 24px;

            p {
                font-weight: 500;
                font-size: 1.3em;
                margin-bottom: 8px;
                position: relative;
                transition: all .3s ease;

                &::before,
                &::after {
                    position: absolute;
                    content: "";
                    width: 15px;
                    height: 2px;
                    background-color: black;
                }

                &::before {
                    top: 50%;
                    right: 5px;
                    transform: rotate(0deg);
                }

                &::after {
                    top: 50%;
                    right: 5px;
                    transform: rotate(90deg);
                }

                &.close::before {
                    transform: rotate(45deg);
                }

                &.close::after {
                    transform: rotate(-45deg);
                }
            }

            li {
                list-style: none;
                margin-bottom: 16px;
                display: none;

                a {
                    text-decoration: none;
                    font-size: 1.1em;
                }
            }
        }

        &--news {
            // margin-bottom: 40px;
            border-bottom: 2px solid black;
            padding-top: 24px;
            padding-bottom: 24px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 1.3em;
                }
            }
        }

        &--instagram {
            // margin-bottom: 40px;
            border-bottom: 2px solid black;
            padding-top: 24px;
            padding-bottom: 24px;

            li {
                list-style: none;
                background-image: url("img/インスタグラムのシンプルなロゴのアイコン1.png");
                background-size: 24px;
                background-repeat: no-repeat;
                background-position: 0% 50%;

                a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 1.3em;
                    margin-left: 30px;
                }
            }
        }

        &--contact {
            border-bottom: 2px solid black;
            padding-top: 24px;
            padding-bottom: 24px;

            li {
                list-style: none;
                background-image: url("img/mail-icon.png");
                background-size: 24px;
                background-repeat: no-repeat;
                background-position: 0% 50%;

                a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 1.3em;
                    margin-left: 30px;
                }
            }
        }
    }
}

.main {
    flex: 1;
    margin-top: 48px;
    display: block;
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;

    .section__title {
        &--jp {
            font-size: 1.2em;
            font-weight: 500;
            text-align: center;
            margin-top: 48px;
        }

        &--eg {
            text-align: center;
            font-size: 5em;
            margin-bottom: 24px;
            font-family: "Arizonia", cursive;
        }
    }

    .menu {
        &__hero {
            img {
                max-width: 100%;
                aspect-ratio: 2.5/1;
                object-fit: cover;
            }
        }

        &__top--text {
            width: 500px;
            margin: 56px 16px;

            p {
                font-size: 1.1em;
                line-height: 1.5em;
            }
        }

        &__select {
            display: flex;
            gap: 36px;
            margin-left: 16px;

            &--btn {
                display: flex;
                position: relative;
                border: 1px solid black;
                border-radius: 5px;
                padding: 16px 24px 36px 24px;

                a {
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                }

                img {
                    width: 20px;
                    position: absolute;
                    top: 60%;
                    left: 40%;
                }
            }
        }

        &__article {
            &--img {
                margin-top: 196px;
                margin-bottom: 48px;

                img {
                    width: 800px;
                    border-radius: 10px;
                    aspect-ratio: 2.2/1;
                    object-fit: cover;
                }
            }

            h3 {
                font-size: 1.5em;
                font-weight: 500;
                margin-bottom: 48px;
            }

            &--note {
                display: flex;
                margin-bottom: 56px;
                gap: 36px;
                border-top: 1px solid black;
                padding-top: 16px;

                &--left {
                    width: 35%;

                    p {
                        font-size: 1.3em;
                        line-height: 1.6em;
                        font-weight: 500;
                    }
                }

                &--right {
                    width: 35%;

                    P {
                        line-height: 1.6em;
                    }
                }
            }

            &--example {
                display: flex;
                gap: 56px;

                &--01 {
                    h3 {
                        font-size: 1.1em;
                        font-weight: 500;
                        margin-bottom: 12px;
                    }

                    img {
                        width: 340px;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        border-radius: 5px;
                    }

                    p {
                        width: 320px;
                        font-size: 0.95em;
                        margin-top: 16px;
                        line-height: 1.6em;
                    }
                }

                &--02 {
                    h3 {
                        font-size: 1.1em;
                        font-weight: 500;
                        margin-bottom: 12px;
                    }

                    img {
                        width: 340px;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        border-radius: 5px;
                    }

                    p {
                        width: 320px;
                        font-size: 0.95em;
                        margin-top: 16px;
                        line-height: 1.6em;
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        margin-top: 96px;
        margin-bottom: 96px;

        &__company {
            img {
                width: 300px;
                aspect-ratio: 1/1;
            }

            &--detail {
                .address {
                    span {
                        font-size: 1.3em;
                        font-weight: 500;
                        margin-right: 4px;
                    }

                    margin-bottom: 12px;
                    font-size: 1.1em;
                }

                .time {
                    span {
                        font-size: 1.3em;
                        font-weight: 500;
                        margin-right: 4px;
                    }

                    margin-bottom: 12px;
                    font-size: 1.1em;
                }

                .holiday {
                    span {
                        font-size: 1.3em;
                        font-weight: 500;
                        margin-right: 4px;
                    }

                    margin-bottom: 12px;
                    font-size: 1.1em;
                }
            }
        }

        &__nav {
            margin-top: 50px;
            margin-left: 150px;

            &--info {
                margin-bottom: 24px;

                p {
                    font-weight: 500;
                    font-size: 1.3em;
                    margin-bottom: 8px;
                }

                li {
                    margin-bottom: 4px;

                    a {
                        font-size: 1.1em;
                        font-weight: 400;
                    }
                }
            }

            &--menu {
                margin-bottom: 24px;

                p {
                    font-weight: 500;
                    font-size: 1.3em;
                    margin-bottom: 8px;
                }

                li {
                    margin-bottom: 4px;

                    a {
                        font-size: 1.1em;
                        font-weight: 400;
                    }
                }
            }

            &--news {
                margin-bottom: 24px;

                li {
                    a {
                        font-size: 1.1em;
                        font-weight: 400;
                    }
                }
            }

            &--instagram {
                margin-bottom: 24px;

                li {
                    background-image: url("img/インスタグラムのシンプルなロゴのアイコン1.png");
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position: 0% 50%;

                    a {
                        font-size: 1.1em;
                        font-weight: 400;
                        margin-left: 24px;
                    }
                }
            }

            &--contact {
                margin-bottom: 24px;

                li {
                    background-image: url("img/mail-icon.png");
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position: 0% 50%;

                    a {
                        font-size: 1.1em;
                        font-weight: 400;
                        margin-left: 24px;
                    }
                }
            }
        }
    }
}




@media screen and (max-width: 768px) {
    body {
        padding-left: 1%;
        padding-right: 1%;
        display: flex;
        margin: 0 auto;
    }

    .hamburger {
        display: block;
        width: 72px;
        aspect-ratio: 1;
        border: none;
        z-index: 10000;
        position: absolute;
        right: 10px;
        margin: 8px;
        padding: 8px;
        background-color: whitesmoke;
        opacity: 0.7;
        border-radius: 10px;

        &:hover {
            background-color: rgb(190, 190, 190);
        }

        span {
            display: block;
            width: 70%;
            height: 3px;
            border-radius: 5px;
            background-color: #000;
            position: absolute;
            top: 40%;
            transition: all .3s;
            transform-origin: center;

            &:nth-child(1) {
                transform: translateY(-13px);
            }

            &:nth-child(2) {
                transform: translateY(0px);
            }

            &:nth-child(3) {
                transform: translateY(13px);
            }
        }

        &__text {
            position: absolute;
            top: 48px;
            left: 12px;
            font-weight: 500;
        }

        &.active span:nth-child(1) {
            transform: rotate(45deg);

        }

        &.active span:nth-child(2) {
            opacity: 0;
        }

        &.active span:nth-child(3) {
            transform: rotate(-45deg);

        }
    }


    .aside {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        padding-top: 80px;
        transition: 0.3s;
        background-color: #fff;
        opacity: 0.7;
    }

    .aside.active {
        right: 0;
        z-index: 9999;
        margin: 0 auto;

        .aside__img {
            display: none;
        }
    }



    .main {
        margin: 0 auto;
        width: 100%;

        .section__title {
            text-align: center;
        }

        .top {
            .hero {
                &__visual {
                    img {
                        max-width: 100%;
                    }
                }

                &__img {

                    img {
                        width: 500px;
                        left: 8%;
                    }
                }
            }
        }

        .menu__top--text {
            display: flex;
            margin: 24px auto;
            justify-content: center;
            align-items: center;
            max-width: 90%;
        }

        .menu__select {
            display: flex;
            justify-content: center;
            margin-bottom: 72px;
        }

        .menu__article {
            margin-bottom: 108px;

            &--img {
                display: flex;
                margin: 0 auto;
                max-width: 100%;

                img {
                    max-width: 100%;
                }
            }

            h3 {
                margin-top: 16px;
            }

            &--note {
                display: flex;
                margin: 0 auto;
                justify-content: space-around;

                &--left {
                    margin-right: -30px;
                }

                &--right {
                    margin-left: -30px;
                }
            }

            &--example {
                margin-top: 24px;
                max-width: 100%;
                display: grid;
                justify-content: center;

                &--01 &--02 {
                    max-width: 49%;

                    img {
                        aspect-ratio: 1;
                        max-width: 40%;
                    }
                }
            }
        }

        .footer {
            flex-direction: column;

            &__company {
                text-align: center;
            }

            &__nav {
                ul {
                    margin: 0 auto;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}